body, main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    
}
h1{
    margin: 1%;
    padding: 0;
    text-align: center;
}

h2{
    padding: 0;
    margin: 0;
}

input{
    width: 100%;
}


.flexbox{
    margin: 0 2%;
    padding: 0;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.flexbox .title{
    flex: 10;

}

.flexbox form{
    flex: 1;
}
